.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

/* for reset password button */
a.button {
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: rgb(2, 2, 2);
    background: rgb(248, 209, 79);
    border-radius: 4px;
    border: 1px solid #110f0f;
    padding: 4px;
    transition-duration: 0.4s;
}
a.button:hover{
    background: rgb(94, 73, 209);
}